html, body {
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading-info {
    display: flex;
    width: 100%;
    align-items: baseline;
    margin-bottom: 1em;
    gap: 1em;
    #title-info {
        display: flex;
        align-items: baseline;
        gap: 0.3em;
        p {
            font-size: 13px;
        }
    }
}
header {
    display: block;
    width: 33%;
    gap: 1em;
    margin-left: auto;
    #slider-display {
        display: flex;
        gap: 5px;
        #time-slider {
            width: 75%;
            justify-content: flex-end;
            margin: 0px;
        }
    }
    #time-display {
        display: block;
        justify-self: flex-end;
    }
    #any-time {
        color: #999;
        font-style: italic;
    }
}

#map circle, .legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

#map {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0. 0.1);
    border-radius: 8px;
    svg {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        circle {
            fill: var(--color);
            fill-opacity: 0.77;
            stroke: gainsboro;
            pointer-events: auto;
            cursor: pointer;
        }
    }
}

div.legend {
    display: flex;
    width: 100%;
    margin-block: 28px;
    justify-content: center;
    gap: 1px;
    margin-bottom: 0px;
    div {
        display: flex;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: snow;
        font-weight: bold;
        white-space: nowrap;
    }
    div#dep-legend {
        flex: 1;
        background-color: var(--color);
        justify-content: center;
    }
    div#bal-legend {
        flex: 1;
        background-color: var(--color);
        justify-content: center;
    }
    div#arr-legend {
        flex: 1;
        background-color: var(--color);
        justify-content: center;
    }
    div#zero-legend {
        flex: 0.6;
        background-color: rgb(0, 0, 0);
        opacity: 0.77;
        justify-content: center;
    }
}

#footnote {
    margin-left: auto;
    font-size: 10px;
    font-style: italic;
}